Assignment-2

In [14]:
L=[10,20,30,40,50,60,70,80,90]
print("Original List is:",L)
L.append(200)
L.append(300)
print("After adding 200 and 300,the List is:",L)
L.remove(10)
L.remove(30)
print("After removing 10 and 30,the List is:",L)
L.sort()
print("The sorted list in ascending order is:",L)
L.sort(reverse=True)
print("The sorted list in descending order is:",L)

Original List is: [10, 20, 30, 40, 50, 60, 70, 80, 90]
After adding 200 and 300,the List is: [10, 20, 30, 40, 50, 60, 70, 80, 90, 200, 300]
After removing 10 and 30,the List is: [20, 40, 50, 60, 70, 80, 90, 200, 300]
The sorted list in ascending order is: [20, 40, 50, 60, 70, 80, 90, 200, 300]
The sorted list in descending order is: [300, 200, 90, 80, 70, 60, 50, 40, 20]

In [84]:
T=(45,89.5,76,45.4,89,92,58,45)
print("The original tuple is:",T)
print("The highest score in the tuple is:",max(T),"and its index is:",T.index(max(T)))
print("The lowest score is:",min(T),"and it's frequency is:",T.count(min(T)))
L=list(T)
L.reverse()
print("The revresed tuple in the form of list is:",L)
print("Is 76 present in the tuple:",76 in T)
if(76 in T):
    print("Index of 76 is:",T.index(76))
else:
    print("76 is not present")

The original tuple is: (45, 89.5, 76, 45.4, 89, 92, 58, 45)
The highest score in the tuple is: 92 and its index is: 5
The lowest score is: 45 and it's frequency is: 2
The revresed tuple in the form of list is: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Is 76 present in the tuple: True
Index of 76 is: 2

In [87]:
import random as r 
L=r.sample(range(100,900),100)
print("The list of 100 random numbers between 100 and 900 is:",L)
countE=0
countO=0
countPrime=0
IsPrime=True
def IsPrime(n):
    for j in range(2,n//2+1):
        if(n%j==0):
            return False
    return True

for i in range(len(L)):
    if L[i]%2==0:
        print("Even number:",L[i])
        countE=countE+1
    else:
        print("Odd number:",L[i])
        countO=countO+1
    if IsPrime(L[i]):
        print("Prime number:",L[i])
        countPrime=countPrime+1

print("Total even numbers are:",countE) 
print("Total odd numbers are:",countO)
print("Total prime numbers are:",countPrime)

The list of 100 random numbers between 100 and 900 is: [350, 697, 865, 201, 841, 281, 150, 583, 558, 264, 795, 376, 890, 210, 606, 837, 306, 268, 615, 612, 128, 345, 845, 442, 148, 203, 158, 434, 693, 478, 373, 167, 691, 240, 796, 479, 868, 654, 448, 140, 430, 157, 346, 829, 603, 659, 481, 684, 803, 113, 126, 279, 469, 433, 372, 562, 132, 720, 831, 182, 451, 580, 774, 181, 872, 559, 503, 863, 109, 338, 477, 471, 812, 582, 368, 112, 307, 258, 423, 321, 888, 521, 742, 806, 499, 512, 137, 732, 358, 393, 788, 428, 632, 877, 895, 586, 690, 897, 571, 199]
Even number: 350
Odd number: 697
Odd number: 865
Odd number: 201
Odd number: 841
Odd number: 281
Prime number: 281
Even number: 150
Odd number: 583
Even number: 558
Even number: 264
Odd number: 795
Even number: 376
Even number: 890
Even number: 210
Even number: 606
Odd number: 837
Even number: 306
Even number: 268
Odd number: 615
Even number: 612
Even number: 128
Odd number: 345
Odd number: 845
Even number: 442
Even number: 148
Odd number: 203
Even number: 158
Even number: 434
Odd number: 693
Even number: 478
Odd number: 373
Prime number: 373
Odd number: 167
Prime number: 167
Odd number: 691
Prime number: 691
Even number: 240
Even number: 796
Odd number: 479
Prime number: 479
Even number: 868
Even number: 654
Even number: 448
Even number: 140
Even number: 430
Odd number: 157
Prime number: 157
Even number: 346
Odd number: 829
Prime number: 829
Odd number: 603
Odd number: 659
Prime number: 659
Odd number: 481
Even number: 684
Odd number: 803
Odd number: 113
Prime number: 113
Even number: 126
Odd number: 279
Odd number: 469
Odd number: 433
Prime number: 433
Even number: 372
Even number: 562
Even number: 132
Even number: 720
Odd number: 831
Even number: 182
Odd number: 451
Even number: 580
Even number: 774
Odd number: 181
Prime number: 181
Even number: 872
Odd number: 559
Odd number: 503
Prime number: 503
Odd number: 863
Prime number: 863
Odd number: 109
Prime number: 109
Even number: 338
Odd number: 477
Odd number: 471
Even number: 812
Even number: 582
Even number: 368
Even number: 112
Odd number: 307
Prime number: 307
Even number: 258
Odd number: 423
Odd number: 321
Even number: 888
Odd number: 521
Prime number: 521
Even number: 742
Even number: 806
Odd number: 499
Prime number: 499
Even number: 512
Odd number: 137
Prime number: 137
Even number: 732
Even number: 358
Odd number: 393
Even number: 788
Even number: 428
Even number: 632
Odd number: 877
Prime number: 877
Odd number: 895
Even number: 586
Even number: 690
Odd number: 897
Odd number: 571
Prime number: 571
Odd number: 199
Prime number: 199
Total even numbers are: 52
Total odd numbers are: 48
Total prime numbers are: 21

In [90]:
A={34,56,78,90}
B={78,45,90,23}
print("The unique scores achieved by A and B are:",A.union(B))
print("The common scores achieved by A and B are:",A.intersection(B))
print("The scores exclusive to each team are:",A.symmetric_difference(B))
if A.issubset(B):
    print("A is subset of B")
else:
    print("A is not subset of B")
if B.issuperset(A):
    print("B is superset of A")
else:
    print("B is not superset of A")
score=int(input("Enter the score you want to remove"))
if(score in A):
   A.remove(score)
   print("The score removed succesfully",A)
else:
    print("The score you want to remove is not present")

The unique scores achieved by A and B are: {34, 45, 78, 23, 56, 90}
The common scores achieved by A and B are: {90, 78}
The scores exclusive to each team are: {34, 45, 23, 56}
A is not subset of B
B is not superset of A
The score removed succesfully {56, 90, 78}

In [91]:
sample_dict={"name":"Kelly","age":25,"salary":8000,"city":"New York"}
print("The original dictionary is:",sample_dict)
sample_dict["location"]=sample_dict.pop("city")
print("After renaming city to location, the dictionary is:",sample_dict)

The original dictionary is: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}
After renaming city to location, the dictionary is: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}